body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: 'monospace', 'Courier New', Courier;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

#app-container {
    position: relative;
}

#terminal-view {
    display: block;
}

#terminal {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    border: 1px solid #555;
    padding: 15px;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.line {
    display: flex;
}

.prompt {
    color: #a9ffb4;
    margin-right: 8px;
    font-weight: bold;
}

.input-area {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#command-line {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.message {
    color: #dcdcdc;
}

.my-message {
    color: #98c3ff;
    margin-left: 20px;
}

.other-message {
    color: #ffad87;
}

.system {
    color: #d1b464;
    font-weight: bold;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    margin-left: 8px;
}

.uploaded-file {
    color: #569cd6;
    text-decoration: underline;
}
